*.iml
.idea/
build/
target/viarewind-legacy-support-1.4.2-SNAPSHOT.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/plugin.yml
target/classes/de/gerrygames/viarewind/legacysupport/versioninfo/VersionInformer.class
target/classes/de/gerrygames/viarewind/legacysupport/reflection/ReflectionAPI.class
target/classes/de/gerrygames/viarewind/legacysupport/reflection/MethodSignature.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/SoundListener.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/SoundListener$1.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/SoundListener$2.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/EnchantingListener.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/ElytraListener.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/BrewingListener.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/BounceListener.class
target/classes/de/gerrygames/viarewind/legacysupport/listener/AreaEffectCloudListener.class
target/classes/de/gerrygames/viarewind/legacysupport/injector/NMSReflection.class
target/classes/de/gerrygames/viarewind/legacysupport/injector/BoundingBoxFixer.class
target/classes/de/gerrygames/viarewind/legacysupport/BukkitPlugin.class
target/classes/de/gerrygames/viarewind/legacysupport/BukkitPlugin$1.class
target/classes/config.yml
*.jar
